name: Flutter Multi-Platform Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: windows-latest
            build-command: flutter build windows --release
            artifact-path: build/windows/x64/runner/Release/
            artifact-name: windows-build

          - os: macos-latest
            build-command: flutter build macos --release
            artifact-path: build/macos/Build/Products/Release/
            artifact-name: macos-build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install macOS dependencies (if any)
        if: matrix.os == 'macos-latest'
        run: |
          cd macos
          pod install

      - name: Get dependencies
        run: flutter pub get

      - name: Build Application
        run: ${{ matrix.build-command }}
        # run: --no-tree-shake-icons if you have any failed.

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: ${{ matrix.artifact-path }}
          retention-days: 7
